<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: var(--main-accent-color) !important; color: white; position: sticky; top: 20px;">
    <a class="navbar-brand" href="/"><i class="bi bi-laptop-fill"></i>Dominios - Semana i</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/ncgo/semanai/issues">Feedback</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/ncgo/semanai">Github</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://docs.google.com/document/d/13JuXRquZ8mIYsLMOc90t5F-iX6AHLUd9_4mfG9iiPM8/edit?usp=sharing">Documento de Requisitos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://docs.google.com/document/d/197-sp2oAVVzXlp4UArRFNrObLwHPCfjkdfoWs5Z-pA0/edit?usp=sharing">Documento de Diseño</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://docs.google.com/spreadsheets/d/172LGLP4eagzC57EcZ2SRfwURtM9-VPmMkissVMVZv2k/edit?usp=sharing">Plan de Pruebas</a>
      </li>
    </ul>
  </nav>