<meta charset="UTF-8">
<title>Dominios - Semana i</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<style>
    :root {
        --main-accent-color: #3C91E6;
        --secondary-accent-color: #003459;
    }

    #btn-search {
        background-color: var(--main-accent-color); 
        color: white; 
        border: var(--main-accent-color);
    }

    #btn-search:hover {
        background-color: var(--secondary-accent-color) !important;
    }

    .btn-add {
        color: var(--main-accent-color) !important; 
        border-color: var(--main-accent-color) !important;
    }

    .btn-add:hover {
        background-color: var(--main-accent-color) !important;
        color: white !important;
    }

    .list-group-item:hover {
        background-color: rgb(228,231,235);
    }
</style>